.hide {
    display: none !important;
}

html, body {
    padding: 0; margin: 0;
}

html {
    min-height: 100%;
    background: #cfecf9;
    background-image: url(../img/background.jpg), linear-gradient(to bottom,  #009cde 0%, #cfecf9 100%);
    background-repeat: no-repeat;
    background-size: 100%, auto;
    background-position: center bottom, center;
}

body {
    font-family: sans-serif;
    font-size: 16px;
    // letter-spacing: 1px;
    color: rgb(0, 48, 135);
}

// #intro, #upload, #summary { height: 100vh;}

.page {
    margin: 0 auto;
    padding: 0;
    // height: 100vh;
    min-width: 320px;
    max-width: 1024px;
}

#intro .content, #summary .content {
    margin-top: 50px;
}

header {
    height: 60px;
    margin: 0 auto 10px;

    h1 {
        padding-top: 35px;
        font-size: 18px;
        font-weight: 500;
        text-align: center;
        color: #fff;
    }
}

h2 {
    margin: 0 auto;
    padding: 0;
    background-color: rgba(255, 255, 255, .62);
    font-size: 16px;
    text-align: center;
    font-weight: 400;
    line-height: 40px;
    color: rgb(128, 128, 128);
}

p {
    margin: 15px;
    text-align: center;
}

button {
    display: block;
    border: 0;
    border-radius: 5px;
    background-color: #fff;
    // letter-spacing: 1px;
}

button.js-application-type {
    width: 285px;
    height: 60px;
    margin: 20px auto;
    font-size: 18px;
    font-weight: 600;
    color: rgb(0, 48, 135);
}

button.developer {
    background: #fff url(../img/developer.png) no-repeat 10px center;
    background-size: 50px;
}

button.intern {
    background: #fff url(../img/intern.png) no-repeat 10px center;
    background-size: 50px;
}

#camerahero {
    margin: 50px auto 0;
    width: 150px;
    height: 110px;
    background: #fff url(../img/camera.png) no-repeat center;
    background-size: 110px;
    color: rgba(255, 255, 255, 0);
}

#camera {
    float: left;
    margin: 20px 15px;
    width: 95px;
    height: 65px;
    background: #fff url(../img/camera.png) no-repeat center;
    background-size: 65px;
    color: rgba(255, 255, 255, 0);
}

#submit {
    float: right;
    margin: 30px 15px;
    width: 95px;
    height: 45px;
    font-size: 16px;
    text-align: center;
    font-weight: 600;
    color: rgb(128, 128, 128);
}

.thumbnail {
    position: relative;
    width: 50%;
    margin: 20px auto 30px;

    .remove-file {
        display: block;
        position: absolute;
        top: -10px;
        right: -20px;
        width: 25px;
        height: 25px;
        border-radius: 25px;
        background: #bbb;
        color: #fff;
        font-family: Arial, sans-serif;
        font-weight: 600;
        text-align: center;
        text-decoration: none;
        line-height: 25px;
    }

    img {
        width: 100%;
        border: 5px solid #bbb;
    }
}

.progress-bar {
    margin: 80px 20px 0;
    height: 25px;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25) inset;
}

.progress-bar > span {
    display: block;
    height: 25px;
    border-radius: 2px;
    background-color: #009cde;
    text-indent: -9999px;
}
