.hide {
  display: none;
}
.thumbnail {
  position: relative;
  width: 50%;
  margin: 20px auto 30px;
}
.thumbnail .remove-file {
  position: absolute;
  top: -20px;
  right: -30px;
}
.thumbnail img {
  width: 100%;
  border: 10px solid #ddd;
}
